<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- lazy-init='true': getBean을 호출할때 bean 객체 생성 -->
	<bean id='xml1' class='beans.testBean1' lazy-init='true' init-method='init' destroy-method='destroy'/>
</beans>