<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id='xml1' class='beans.testBean1'/>
	<bean id='xml2' class='beans.testBean2'/>
	<bean id='xml3' class='beans2.testBean1'/>
	
	<bean id='advisor1' class='advisor.advisorClass'/>
	
	<aop:config>
		<aop:aspect ref='advisor1'>
			<!-- return type이 void, beans.testBean1 class, method1 method, 매개변수 없음 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1())'/>
			
			<!-- return type이 void, beans.testBean1 class, method1 method, int형 매개변수 1개 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1(int))'/>
			
			<!-- return type이 void, beans.testBean1 class, method1 method, String형 매개변수 1개 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1(java.lang.String))'/>
			
			<!-- return type이 void, beans.testBean1 class, method1 method, 모든 타입의 매개변수 1개 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1(*))'/>
		
			<!-- return type이 void, beans.testBean1 class, method1 method, int형 매개변수 2개 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1(int, int))'/>
			
			<!-- return type이 void, beans.testBean1 class, method1 method, int형 매개변수 1개, String형 매개변수 1개 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1(int, java.lang.String))'/>
			
			<!-- return type이 void, beans.testBean1 class, method1 method, 모든 타입의 매개변수 2개 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1(*, *))'/>
		
			<!-- return type이 void, beans.testBean1 class, method1 method, 모든 타입의 매개변수 0개이상 -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.method1(..))'/>
			
			<!-- return type이 void, beans.testBean1 class, class 내 모든 method -->
			<aop:pointcut id='point1' expression='execution(void beans.testBean1.*(..))'/>
			
			<!-- ======================== -->
			
			<!-- return type이 void, beans.testBean1 class 내 모든 method -->
			<aop:pointcut id='point1' expression='execution(void beans.*.*(..))'/>
			
			<!-- ======================== -->
			
			<!-- return type void, 모든 패키지, 모든 클래스, 모든 method -->
			<aop:pointcut id='point1' expression="execution(void *.*(..))"/>
			
			<!-- ======================== -->
			
			<!-- return type int, 모든 패키지, 모든 클래스, 모든 method -->
			<aop:pointcut id='point1' expression="execution(int *.*(..))"/>
			
			<!-- ======================== -->
			
			<!-- 모든 return type, 모든 패키지, 모든 클래스, 모든 method -->
			<aop:pointcut id='point1' expression="execution(* *(..))"/>
			
			
			<aop:before method='beforeMethod' pointcut-ref='point1'/>
		</aop:aspect>
	</aop:config>
</beans>